@font-face { font-family: MinecraftFive; src: url('../fonts/MinecraftFive.otf'); }
@font-face { font-family: MinecraftFiveBold; src: url('../fonts/MinecraftFiveBold.otf'); }
@font-face { font-family: MinecraftSeven; src: url('../fonts/MinecraftSeven.otf'); }
@font-face { font-family: MinecraftTen; src: url('../fonts/MinecraftTen.otf'); }
@font-face { font-family: NotoSans; src: url('../fonts/NotoSans.otf'); }

* {
	font-family: "MinecraftSeven";
}

html {
	/*background-color: rgba(0, 0, 0, 0.8);*/
	background: url(../assets/dirt.png);
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

#app {
    position: absolute;
    width: 100%;
	margin-top: 3%;
	z-index: 1;
}

.mainBackground {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity: 0.6;
	pointer-events: all;
	z-index: 1;
}

.uiLeaving {
	-webkit-animation: slideOut 0.4s forwards;
	-webkit-animation-delay: 0s;
	animation: slideOut 0.4s forwards;
	animation-delay: 0s;
}
.uiLeavingBack {
	-webkit-animation: slideOutBack 0.4s forwards;
	-webkit-animation-delay: 0s;
	animation: slideOutBack 0.4s forwards;
	animation-delay: 0s;
}

@keyframes slideOut {
	0% {
		left: 0;
	}
	100% {
		left: -100%;
	}
}
@keyframes slideOutBack {
	0% {
		left: 0;
	}
	100% {
		left: 100%;
	}
}

.uiEntering {
	-webkit-animation: slideIn 0.4s forwards;
	-webkit-animation-delay: 0s;
	animation: slideIn 0.4s forwards;
	animation-delay: 0s;
}
.uiEnteringBack {
	-webkit-animation: slideInBack 0.4s forwards;
	-webkit-animation-delay: 0s;
	animation: slideInBack 0.4s forwards;
	animation-delay: 0s;
}

@keyframes slideIn {
	0% {
		left: 100%;
	}
	100% {
		left: 0;
	}
}
@keyframes slideInBack {
	0% {
		left: -100%;
	}
	100% {
		left: 0;
	}
}

:root {
    --baseFontSize: 7.5px;
    --base2Scale: 2px;
    --base2ScaleNeg: -2px;
    --base1Scale: 1px;
    --base1ScaleNeg: -1px;
}

.oreUIButton {
	padding-bottom: 0.2rem;
	border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-width: var(--base2Scale);
    border-left-width: var(--base2Scale);
    border-right-width: var(--base2Scale);
    border-top-width: var(--base2Scale);
	position: relative;
    z-index: 0;
	user-select: none;
    cursor: pointer;
	text-decoration: none;
	width: auto;
    align-items: center;
}
.oreUIButton:active {
	padding-bottom: 0;
	margin-top: 0.2rem;
}
.oreUIButton:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.4rem;
}
.oreUIButton_ {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
    letter-spacing: 0.04rem;
    font-size: 1.6rem;
    font-weight: 400;
	align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.oreUIButton__ {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    color: transparent;
	border-top-color: rgba(255, 255, 255, 0.2);
    border-left-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 0.1);
}

.oreUIButtonPrimary {
	background-color: #1d4d13;
	border-color: #1e1e1f;
}
.oreUIButtonPrimaryBackground {
	background-color: #3c8527;
	color: #ffffff;
}
.oreUIButton:hover .oreUIButtonPrimaryBackground {
	background-color: #52a535;
}
.oreUIButton:active .oreUIButtonPrimaryBackground {
	background-color: #2a641c;
}

.oreUISpecular {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    color: transparent;
	border-left-width: 2px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-top-color: rgba(255, 255, 255, 0.2);
    border-left-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 0.1);
}
.oreUIButtonHero ._oreUIButton___ {
	font-family: "MinecraftTen";
	text-shadow: var(--base2Scale) var(--base2Scale) 0rem rgba(0,0,0,0.3);
}
.dropdown .oreUIButton_ {
	height: 2rem;
}
.dropdown {
	padding-bottom: 0.2rem;
	margin: 6px 0;
	border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-width: var(--base2Scale);
    border-left-width: var(--base2Scale);
    border-right-width: var(--base2Scale);
    border-top-width: var(--base2Scale);
	position: relative;
    z-index: 0;
	user-select: none;
    cursor: pointer;
}
.dropdown:hover .oreUIButtonSecondaryBackground {
	background-color: #f4f6f9;
}
.dropdown:active .oreUIButtonSecondaryBackground {
	background-color: #b1b2b5;
}
.oreUIButtonSecondary {
	background-color: #58585a;
	border-color: #1e1e1f;
}
.oreUIButtonSecondaryBackground {
	background-color: #d0d1d4;
	color: #1e1e1f;
}
.oreUIButton:hover .oreUIButtonSecondaryBackground {
	background-color: #f4f6f9;
}
.oreUIButton:active .oreUIButtonSecondaryBackground {
	background-color: #b1b2b5;
}

.oreUIButtonDestructive {
	background-color: #ad1d1d;
	border-color: #1e1e1f;
}
.oreUIButtonDestructiveBackground {
	background-color: #ca3636;
	color: #ffffff;
}
.oreUIButton:hover .oreUIButtonDestructiveBackground {
	background-color: #f84c4c;
}
.oreUIButton:active .oreUIButtonDestructiveBackground {
	background-color: #ad1d1d;
}

.oreUIButtonPurple {
	background-color: #4A1CAC;
	border-color: #1e1e1f;
}
.oreUIButtonPurpleBackground {
	background-color: #7345E5;
	color: #ffffff;
}
.oreUIButton:hover .oreUIButtonPurpleBackground {
	background-color: #8557F8;
}
.oreUIButton:active .oreUIButtonPurpleBackground {
	background-color: #5D2CC6;
}

._oreUIButton {
	align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
	position: relative;
    z-index: 1;
    width: 100%;
}
._oreUIButton_ {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 100%;
}
._oreUIButton__ {
	line-height: 2rem;
    letter-spacing: 0.04rem;
    font-size: 16px;
    font-weight: 400;
	flex-direction: row;
	align-items: center;
    flex-wrap: wrap;
    margin: 0;
    flex: 0 1 auto;
}
._oreUIButton___ {
	font-family: "MinecraftSeven";
	flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

div {
    align-items: stretch;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 0;
    min-width: 0;
}

input, textarea, span[role="textbox"] {
	height: 32px;
    color: white;
    background-color: #313233;
    border-top: 0.3rem solid black;
    border-color: #1e1e1f;
	border-bottom-width: var(--base2Scale);
    border-left-width: var(--base2Scale);
    border-right-width: var(--base2Scale);
    border-style: solid;
    margin-bottom: 6px;
	padding-left: 8px;
    padding-right: 8px;
	margin-top: 6px;
	outline: none;
	cursor: pointer;
	caret-color: #6cc349;
}
input:disabled {
	background-color: #d0d1d4;
    border: 2px solid #8c8d90;
    cursor: default;
	color: #48494a;
}
input:disabled::placeholder {
	color: #48494a;
}
span[role="textbox"]::marker {
	content: "";
}

.elements {
	background-color: #48494a;
    border: 2px solid black;
    margin-top: 8px;
    margin-bottom: 8px;
	user-select: none;
}
.element {
	border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	padding: 0.4rem 1.6rem;
}
.element_ {
	padding: 0.4rem 1.6rem;
}
.elementTitle {
	color: #ffffff;
    letter-spacing: 0.04rem;
    font-size: 14px;
    line-height: 16px;
}
.elementHeader {
	color: #ffffff;
    letter-spacing: 0.04rem;
    font-size: medium;
    font-family: MinecraftTen;
	text-shadow: 3px 3px #38393a;
}
.elementSubtitle {
	color: #d0d1d4;
    letter-spacing: 0.04rem;
    font-size: 13px;
}
select {
	background: none;
    outline: none;
    border: none;
    color: black;
    margin-right: 8px;
    margin-left: 8px;
	cursor: pointer;
    height: 100%;
}

.header {
	justify-content: flex-end;
	position: relative;
	z-index: 1000;
}
.headerShadow {
	height: calc(2*var(--base2Scale));
	background-color: #b1b2b5;
}
.header_ {
    top: 0rem;
    width: 100%;
    display: block;
	position: fixed;
	-webkit-app-region: drag;
	background-color: #e6e8eb;
}
.header__ {
	flex-direction: row;
	align-items: center;
}
.headerButton {
	width: 1.5rem;
	height: 1.5rem;
	justify-content: center;
	align-items: center;
	margin-top: 0.4rem;
	margin-right: 0.4rem;
	margin-bottom: 0.4rem;
	margin-left: 0.4rem;
	cursor: pointer;
	user-select: none;
}
.headerButton:hover {
	background-color: #f4f6f9;
}
.headerButton:active {
	background-color: #d0d1d4;
}
.headerButton > img {
	height: calc(8*var(--base2Scale));
    width: calc(4*var(--base2Scale));
    margin-top: var(--base2Scale);
    filter: invert(0);
}
.headerTitle {
	justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 2.4rem;
	flex: 1;
    padding-left: 6rem;
    padding-right: 6rem;
    text-align: center;
	user-select: none;
	pointer-events: none;
}
.headerTitle_ {
	font-size: 16px;
    font-family: MinecraftTen;
}
.disabledElement .elementTitle {
	color: #d0d1d4;
}

.popup {
	position: fixed;
	z-index: 1001;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	user-select: none;
}
.popup_ {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	z-index: 101;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	pointer-events: all;
}
.popup__ {
	border-top-width: var(--base2Scale);
	border-right-width: var(--base2Scale);
	border-bottom-width: var(--base2Scale);
	border-left-width: var(--base2Scale);
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	max-width: 27.6rem;
	width: 100%;
	max-height: 100%;
}
.popup___ {
	line-height: 1.6rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #48494a;
	color: #ffffff;
}
._popup {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	margin-left: -0.8rem;
	margin-right: -0.8rem;
	flex: 1;
	width: 100%;
}
.elementsMenu {
	background-color: #313233;
    border: 2px solid black;
    margin: 8px;
	user-select: none;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
}
.elementMenu {
    padding-left: 12px;
    padding-right: 12px;
	height: 48px;
	align-items: center;
	flex-direction: row;
	cursor: pointer;
}
.elementMenu:hover {
	border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
	background-color: #48494a;
	height: 44px;
}
.elementMenu:active {
	border-top: 2px solid rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	background-color: #242425;
	height: 44px;
}

.informativeText {
    color: white;
    padding: 6px;
	font-family: 'MinecraftFive';
    font-size: 11px;
    text-align: center;
    width: 100%;
    height: 100%;
    place-content: center;
}
.infoElement {
    flex-direction: row;
    user-select: none;
    width: 100%;
    align-items: center;
    background-color: #2e6be5;
    margin-bottom: 16px;
}
.infoElementClose {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 9.5px;
}
.infoElementClose:hover {
	background-color: #3578ff;
}
.infoElementClose:active {
	background-color: #2a60cb;
}

code {
	font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    background: #313233;
    border: var(--base2Scale) solid #1e1e1f;
    color: #dcddde;
	user-select: text;
}
pre {
	margin: 0;
	white-space: unset;
}

.serverImage {
    height: 128px;
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid black;
	image-rendering: pixelated;
}
.motdUnicode {
    width: auto;
    height: 16px;
    image-rendering: pixelated;
    margin-top: -3px;
    margin-bottom: -3px;
}

::-webkit-scrollbar {
    width: 0;
}

.skOQQ {
    align-items: flex-end;
    flex-direction: row;
    font-family: "MinecraftSeven";
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
    line-height: 2rem;
    margin-left: 0;
    margin-right: var(--base2Scale);
    margin-top: 0;
    padding-left: 0rem;
    padding-right: 0rem;
}
.oreUIButtonTab {
	background-color: #313233;
	border-color: #1e1e1f;
}
.oreUIButtonTabBackground {
	background-color: #48494a;
	color: #ffffff;
}
.oreUIButton:hover .oreUIButtonTabBackground {
	background-color: #58585a;
}
.oreUIButton:active .oreUIButtonTabBackground {
	background-color: #313233;
}
.tabPressed .oreUIButtonTabBackground {
	background-color: #313233 !important;
}
.tabPressed {
    cursor: default;
    padding-bottom: 0rem;
}

.toast {
	margin-top: 42px;
    z-index: 999;
    position: fixed;
    width: 100%;
	pointer-events: none;
}
.toastElement {
	background-color: black;
	width: 420px;
	max-width: 420px;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 2px 20px 0px black;
	pointer-events: all;
	-webkit-app-region: no-drag;
}
.toastElement_ {
	padding: 6px 8px;
	border: 2px solid gray;
	user-select: none;
	display: flex;
	flex-direction: row;
	align-items: unset;
	pointer-events: all;
	-webkit-app-region: no-drag;
}
.toastHeader {
	color: white;
	font-family: MinecraftFive;
	font-size: 13px;
}
.toastSubtitle {
	color: #d0d1d4;
    letter-spacing: 0.04rem;
    font-size: 13px;
	line-height: 13px;
}
.toastEntering {
	-webkit-animation: slideInTop 0.6s forwards;
	-webkit-animation-delay: 0s;
	animation: slideInTop 0.6s forwards;
	animation-delay: 0s;
}

@keyframes slideInTop {
	0% {
		top: -20%;
	}
	100% {
		top: 0;
	}
}

.toastLeaving {
	-webkit-animation: slideOutTop 1s forwards;
	-webkit-animation-delay: 0s;
	animation: slideOutTop 1s forwards;
	animation-delay: 0s;
}

@keyframes slideOutTop {
	0% {
		top: 0;
	}
	100% {
		top: -20%;
	}
}

.iconHighlight {
	display: flex;
	background-image: url('../assets/icon_highlight_spritesheet.png');
	animation-play-state: running;
	animation-name: ghQXH;
	animation-direction: normal;
	animation-timing-function: steps(8);
	animation-iteration-count: 1;
	animation-duration: 500ms;
	image-rendering: pixelated;
	width: 24px;
	height: 24px;
	background-size: 216px 24px;
	animation-fill-mode: forwards;
	background-repeat: no-repeat;
	overflow: hidden;
}
@keyframes ghQXH {
	0% {
		background-position: 0% 0;
	}
	100% {
		background-position: 100% 0;
	}
}

-img {
	background-image: url(../imgs/icon.png);
    background-size: cover;
    filter: grayscale(1);
    content-visibility: hidden;
}

.elementIconImage {
	height: 36px;
	width: 36px;
	image-rendering: pixelated;
	margin-right: 1rem;
}
.elementIconHover {
	display: none;
	background-image: url('../assets/icon_highlight_spritesheet.png');
	animation-play-state: running;
	animation-name: ghQXH;
	animation-direction: normal;
	animation-timing-function: steps(8);
	animation-iteration-count: 1;
	animation-duration: 500ms;
	image-rendering: pixelated;
	width: 36px;
	height: 36px;
	background-size: 324px 36px;
	animation-fill-mode: forwards;
	background-repeat: no-repeat;
	overflow: hidden;
}
.elementMenu:hover .elementIconHover {
	display: block;
}
.elementMenu:active .elementIconHover {
	display: none;
}

.dropdownElement {
	font-size: 13px;
	font-weight: bold;
	width: auto;
	padding: 0 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	place-content: space-between;
}
.dropdownOptions {
	border: 2px solid black;
	position: absolute;
	width: 100%;
	z-index: 1000;
	margin: -2px;
	max-height: 202px;
    overflow: auto;
}
.dropdownOption {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	font-size: 14px;
	color: white;
	padding: 0px 12px;
	background-color: #58585a;
	border-color: #8c8d90;
	border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
}
.dropdownOption:hover {
	background-color: #8c8d90;
}
.dropdownOption:active {
	background-color: #48494a;
}
.dropdownOptionCheck {
	display: none;
	image-rendering: pixelated;
	height: 12px;
	width: 16px;
}
.selected .dropdownOptionCheck { display: block; }
.dropdownDisabled {
	background-color: #b1b2b5;
	border-color: #8c8d90;
	cursor: default;
}
.dropdownDisabled .oreUIButtonSecondaryBackground { color: #48494a; background-color: #d0d1d4 !important; }

.oreUIToggleSelected {
	background-color: #1d4d13;
	border-color: #1e1e1f;
	cursor: default;
	margin-top: 0.2rem;
    padding-bottom: 0rem;
}
.oreUIToggleSelectedBackground { background-color: #3c8527; color: #ffffff; }

.checkbox {
	margin-right: 8px;
	border-bottom-width: var(--base2Scale);
	border-left-width: var(--base2Scale);
	border-right-width: var(--base2Scale);
	border-style: solid;
	border-top-width: var(--base2Scale);
	flex: 0 0 auto;
	height: calc(var(--base2Scale)*12);
	position: relative;
	width: calc(var(--base2Scale)*12);
	z-index: 1;
	background-color: #8c8d90;
	border-color: #1e1e1f;
	cursor: pointer;
}
.checkbox:hover { background-color: #b1b2b5; }
.checkbox:active { background-color: #58585a; }
.checkboxCheck {
	background-color: #3c8527;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.checkboxCheck:hover { background-color: #52a535; }
.checkboxCheck:active { background-color: #2a641c; }
.checkboxDisabled { cursor: default; border-color: #8c8d90; }
.checkboxDisabled, .checkboxDisabled .checkboxCheck { background-color: #d0d1d4; }
.checkboxDisabled .checkboxCheck > img{ filter: invert(60%); }

.ModalHeaderButton {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}
.ModalHeaderButton:hover {
	background-color: #58585a;
}
.ModalHeaderButton:active {
	background-color: #313233;
}

.hiddenSlider {
	-webkit-appearance: none;
	appearance: none;
	height: 1.6rem;
	background: #d3d3d3;
    position: absolute;
    width: 109%;
    z-index: 3;
    padding: 0;
    opacity: 0;
    margin-left: -15px;
}
.hiddenSlider::-webkit-slider-thumb {
	width: 1.6rem;
	height: 1.6rem;
	cursor: pointer;
}

.slider { margin-bottom: 6px; }
.sliderLeftProgress {
	border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    height: 0.6rem;
    position: relative;
    z-index: 0;
    background-color: #8c8d90;
    border-color: #1e1e1f;
}
.sliderProgress {
	border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    position: absolute;
    transition-duration: 0.3s;
    height: 0.6rem;
    left: 0;
    right: 0;
    transition-property: clip-path;
    transition-timing-function: cubic-bezier(0.39,1.34,0.66,1.02);
	z-index: 1;
    background-color: #3c8527;
    border-color: #1e1e1f;
}
.sliderThumb {
	height: 1.6rem;
    transform: translateX(-50%);
    transition-property: left;
    transition-timing-function: cubic-bezier(0.39,1.34,0.66,1.02);
    width: 1.6rem;
    z-index: 2;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    position: absolute;
    transition-duration: 0.3s;
    border-color: #1e1e1f;
}
.sliderThumbBackground {
	flex: 1;
	width: 100%;
	background-color: #d0d1d4;
}
.slider:hover .sliderThumbBackground {
	background-color: #f4f6f9;
}
.slider:active .sliderThumbBackground {
	background-color: #b1b2b5;
}
.sliderSpecular {
	border-top-color: rgba(255, 255, 255, 0.6);
	border-left-color: rgba(255, 255, 255, 0.6);
	border-bottom-color: rgba(255, 255, 255, 0.4);
	border-right-color: rgba(255, 255, 255, 0.4);
}
.sliderShadow {
	height: 0.2rem;
	background-color: #58585a;
}
.sliderDisabled .sliderThumbBackground { background-color: #d0d1d4 !important; }
.sliderDisabled .sliderThumbBackground { background-color: #d0d1d4 !important; }
.sliderDisabled .sliderThumbBackground > div { display: none; }
.sliderDisabled .sliderThumb { border-color: #8c8d90; }
.sliderDisabled .hiddenSlider, .sliderDisabled .hiddenSlider::-webkit-slider-thumb { cursor: default; }
.sliderDisabled .sliderShadow { background-color: #b1b2b5; }
.sliderDisabled .sliderProgress > div, .sliderDisabled .sliderLeftProgress > div { display: none; }
.sliderDisabled .sliderProgress, .sliderDisabled .sliderLeftProgress { background-color: #b1b2b5; border-color: #8c8d90; }

.switchThumb {
	bottom: var(--base2ScaleNeg);
	position: absolute;
	z-index: 2;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: step-start;
}
.switchThumb_ {
	border-bottom-style: solid;
	border-bottom-width: var(--base2Scale);
	border-left-style: solid;
	border-left-width: var(--base2Scale);
	border-right-style: solid;
	border-right-width: var(--base2Scale);
	border-top-style: solid;
	border-top-width: var(--base2Scale);
	height: 1.6rem;
	width: 1.6rem;
}
.switchThumbBackground {
	flex: 1;
	width: 100%;
	background-color: #d0d1d4;
}
.switch { cursor: pointer; }
.switch:hover .switchThumbBackground { background-color: #f4f6f9; }
.switch:active .switchThumbBackground { background-color: #b1b2b5; }
.switchBackground {
	align-items: center;
	justify-content: center;
	width: 50%;
}
.switchBackgrounds {
	border-bottom-style: solid;
	border-bottom-width: var(--base2Scale);
	border-left-style: solid;
	border-left-width: var(--base2Scale);
	border-right-style: solid;
	border-right-width: var(--base2Scale);
	border-top-style: solid;
	border-top-width: var(--base2Scale);
	height: 1.4rem;
	margin-left: var(--base2Scale);
	position: relative;
	width: 3rem;
	border-color: #1e1e1f;
}
.switchShadow { height: 0.2rem; background-color: #58585a; }
.switchBackgroundOn { background-color: #3c8527; }
.switchBackgroundOff { background-color: #8c8d90; }
.switchDisabled .switchBackgrounds { border-color: #8c8d90; }
.switchDisabled .switchBackgroundOn { background-color: #d0d1d4; }
.switchDisabled .switchBackgroundOff { background-color: #d0d1d4; }
.switchDisabled img { filter: invert(60%); }
.switchDisabled .switchThumbBackground { background-color: #d0d1d4 !important; }
.switchDisabled .switchThumbBackground { background-color: #d0d1d4 !important; }
.switchDisabled .switchThumbBackground > div { display: none; }
.switchDisabled .switchThumb_ { border-color: #8c8d90; }
.switchDisabled { cursor: default; }
.switchDisabled .switchShadow { background-color: #b1b2b5; }
@keyframes switchOnAnimation {
	0% { left: 0; }
	25% { left: 0.6rem; }
	50% { left: 1.8rem; }
	75% { left: 1.6rem; }
	to { left: 1.8rem; }
}
.switchThumbOn {
	left: 1.8rem;
	margin-left: -7px;
	animation-name: switchOnAnimation;
}
@keyframes switchOffAnimation {
	0% { left: 1.8rem; }
	25% { left: 1.2rem; }
	50% { left: 0rem; }
	75% { left: 0.2rem; }
	to { left: 0; }
}
.switchThumbOff {
	left: 0;
	margin-left: -4px;
	animation-name: switchOffAnimation;
}

.buttonDisabled {
	background-color: #b1b2b5;
	border-color: #8c8d90;
	padding-bottom: 0.2rem !important;
	margin-top: 0 !important;
	cursor: default;
}
.buttonDisabled .oreUIButtonHeroBackground,
.buttonDisabled .oreUIButtonPrimaryBackground,
.buttonDisabled .oreUIButtonSecondaryBackground,
.buttonDisabled .oreUIButtonDestructiveBackground,
.buttonDisabled .oreUIButtonPurpleBackground {
	background-color: #d0d1d4 !important;
	color: #48494a;
}

.toggleSelected {
	bottom: 0;
	display: block;
	height: 2px;
	position: absolute;
	width: 4.8rem;
	background-color: #ffffff;
}
.toggleDisabled .oreUIButton {
	background-color: #b1b2b5;
	border-color: #8c8d90;
	cursor: default;
}
.toggleDisabled .oreUIToggleSelectedBackground,
.toggleDisabled .oreUIButtonSecondaryBackground {
	background-color: #d0d1d4 !important;
	color: #48494a;
}
.toggleDisabled .toggleSelected { background-color: #b1b2b5; }
.toggleDisabled .oreUIButtonSecondary {
	padding-bottom: 0.2rem !important;
	margin-top: 0 !important;
}

.radioGroup {
	margin-right: 8px;
	border-bottom-width: var(--base2Scale);
	border-left-width: var(--base2Scale);
	border-right-width: var(--base2Scale);
	border-style: solid;
	border-top-width: var(--base2Scale);
	flex: 0 0 auto;
	transform: rotate(45deg);
	height: 16px;
	width: 16px;
	position: relative;
	z-index: 1;
	background-color: #8c8d90;
	border-color: #1e1e1f;
	cursor: pointer;
}
.radioGroup:hover { background-color: #b1b2b5; }
.radioGroup:active { background-color: #58585a; }
.radioGroupCheck {
	background-color: #3c8527;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.radioGroupCheck:hover { background-color: #52a535; }
.radioGroupCheck:active { background-color: #2a641c; }
.radioGroupDisabled .radioGroup { cursor: default; border-color: #8c8d90; }
.radioGroupDisabled .radioGroup, .radioGroupDisabled .radioGroupCheck { background-color: #d0d1d4; }
.radioGroupDisabled .radioGroupCheck > div { background-color: #e6e8eb; }
.radioGroupDisabled .radioGroup > .oreUISpecular { display: none; }